@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400;1,800&display=swap");
// Variables
$color-primary: hsl(259, 100%, 65%);
$error-color: hsl(0, 100%, 67%);

$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 0%, 94%);
$neutral-300: hsl(0, 0%, 86%);
$neutral-400: hsl(0, 1%, 44%);
$neutral-500: hsl(0, 0%, 8%);

$font-size-base: 2rem;

$font-family: "Poppins", sans-serif;

// RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

// REMOVES NUMBER CONTROLER FOR INPUTS

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: $neutral-200;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: $font-family;
}

// APP STYLING
.app {
  padding: 0 10px;
  border-radius: 25px 25px 200px 25px;
  overflow: hidden;
  max-width: 840px;
}

// COMPONENT STYLING

.calculator {
  background-color: $neutral-100;
  padding: 50px;
}

.form {
  &__item {
    display: flex;
  }
  &__line {
    margin: 50px 0;
    border-bottom: 2px solid $neutral-300;
    position: relative;
    min-width: 700px;
    @media (max-width: 700px) {
      min-width: 300px;
    }
  }
  &__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    cursor: pointer;
    &:hover {
      background-color: hsl(259, 100%, 55%);
    }
    @media (max-width: 700px) {
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}

// RESULT

.result {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  color: $neutral-500;
  line-height: 1.2;

  @media (max-width: 700px) {
    font-size: 5rem;
  }

  &__num {
    color: $color-primary;
  }
}

/*** INPUT ***/

.input {
  margin-right: 25px;

  &__label {
    font-weight: 500;
    color: $neutral-400;
  }

  &__field {
    max-width: 160px;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid $neutral-300;
    font-size: $font-size-base;
    font-weight: 700;
    color: $neutral-500;
    @media (max-width: 700px) {
      max-width: 130px;
    }

    &::placeholder {
      font-weight: 700;
      font-size: $font-size-base;
      @media (max-width: 700px) {
        font-size: 1.5rem;
      }
    }
    &:focus {
      outline: 1px solid $color-primary;
      caret-color: $color-primary;
    }
    &--error {
      border-color: $error-color;
    }
  }

  &__error {
    color: $error-color;
    font-size: 14px;
    font-style: italic;
  }
}

// ERROR INDICATOR
.invalid {
  color: $error-color;
  &__message {
    color: $error-color;
    font-size: 14px;
    font-style: italic;
  }
}
